.MenuCard {
    /* background-color: #AAAAAA; */
    color: #ffffff;
    /* filter: blur(1px) brightness(1.0); */
    padding: 1em 1em 1em 5em;
    width: 3em;
}

.menuItem {
    color: #ffffff;
}

.App-logo {
    height: 1em;
    width: 10em;
}

.MuiDivider-root {
    color: #ffffff;
}
